.nyc_output
coverage
dist
node_modules
# recommend avoid committing package-lock.* file because a module's CI
# should use latest dep, as an app that consumes a module would have its
# own lockfile, but remove this if you want to commit the package lock file.
*-lock*
dbfs/**/*
30_6_52
30_6_58
junk/dbfs/ch_lobby/track_12_17_4
az/disc/index.d.ts
az/disc/index.js
az/disc/test.d.ts
az/disc/test.js
az/disc/index.d.ts
az/disc/index.js
az/disc/test.d.ts
az/disc/test.js

public/ftp/3 Doors Down - Here Without You (Official Video)-kPBzTxZQG5Q.opus
public/ftp/*
static/try.pcm
env_d
static/a.out.js
static/dragon
static/f32.c
static/f32.js
static/f32.wasm
static/float.c
static/pcm
static/service.log
static/2L-145_mch_FLAC_96k_24b_01.flac
P!nk - Try (Official Music Video)-yTCDVfMz15M.opus
