<html>
  <head>
    <style>
      body {
        background-color: black;
        color: antiquewhite;
      }
    </style>
  </head>
  <script src="/rtc.config.js"></script>
  <body>
    <input type='text' value='room1' id='channel' size={20}></input>
    <input type='checkbox' checked id='shareVideo'>Share Video</input>
    <input type='checkbox' checked id='shareAudio'>Share Audio</input>
    <div><video width=200></video><video width=200></video><audio></audio><audio></audio></div>
    <button> Join Roomt</button>
    <button>btnOpenRoom</button>

    <div id=myaudio></div>
    <audio id="theirO" controls autoplay="false"></audio>

    <div id="console"></div>
  <div id="pc"></div>
  <script type="module">
    import { Peer } from './peer.js';
    import { getMicrophone,getCam, random_noise } from './audio_source.js'
    const btnOpenRoom = document.getElementsByTagName("button")[0];
    const console = document.getElementById("console");
    const shareVideo = document.getElementById("shareVideo");
    const shareAudio = document.getElementById("shareAudio");
    const log = (txt) => typeof txt ==='object' && log(JSON.stringify(txt)) || (console.innerHTML += "<br>" + txt);
    const logError = (txt) => log("<font color=red>" + txt + "</font>");
    const myAudio = document.getElementsByTagName("audio")[0];
    const myVideo = document.getElementsByTagName("video")[0];
    const theirAudio = document.getElementsByTagName("audio")[0];
    const theirVideo = document.getElementsByTagName("video")[0];

   const udid = localStorage.getItem("udid") || "Yisheng"
    const signal = new WebSocket("wss://localhost:443/signal?udid="+udid);
    

    const channelInput = document.getElementById("channel");
    let peer, mystream,ctx;
    signal.onmessage=({data})=> {
      try{
        data = JSON.parse(data);
      }catch(e){
        data = data;
      }
      if(data.udid) {
        localStorage.setItem("udid", data.udid);
      }
      log(data) && (peer = new Peer(data.udid, signal,log));
    }
    btnOpenRoom.onclick = async () =>{
      ctx = new AudioContext();
      if(shareVideo.checked || shareAudio.checked){
        const stream = await getCam(myVideo, shareVideo, shareAudio);
        peer.addStream(stream);
      }
      if(channelInput.value){
            peer.joinChannel(channelInput.value);
        }
    }
    

    const toSignal = (json)=> signal.send(JSON.stringify(json));
   

    function showVolume(analyser){
      const arr1=new Uint8Array(10);
      const vol1 = document.getElementById("v1");
      function _v(){
        analyser.getByteTimeDomainData(arr1);
        var sum = arr1.reduce((sum,v)=>sum+=v, 0);
        vol1.innerHTML=sum+"";
        requestAnimationFrame(_v);

      }

      requestAnimationFrame(_v);
    }
  </script>

</body>

</html>
