<html>
  <head>
    <style>
      body {
        background-color: black;
        color: antiquewhite;
      }
    </style>
  </head>
  <script src="/rtc.config.js"></script>
  <body>
    <input type='text' id='channel' size=20></input>
    <button>btnOpenRoom</button>
    <div id=myaudio></div>
    <audio id="theirO" controls autoplay="false"></audio>

    <div id="console"></div>
  <div id="pc"></div>
  <script type="module">
    import { Peer } from './peer.js';
    import { getMicrophone,random_noise } from './audio_source.js'
    const btnOpenRoom = document.getElementsByTagName("button")[0];
    const console = document.getElementById("console");
    const log = (txt) => (console.innerHTML += "<br>" + txt);
    const logError = (txt) => log("<font color=red>" + txt + "</font>");
    const myAudio = document.getElementsByTagName("audio")[0];
    const tAudio = document.getElementsByTagName("theiro")[0];
    const signal = new WebSocket("wss://localhost:443/signal");
    const channelInput = document.getElementById("channel");
    let peer, mystream,ctx;
    signal.onmessage=({data})=> log(data) && (peer = new Peer(data.udid, signal,log));
    btnOpenRoom.onclick = () =>{
      ctx = new AudioContext();
      mystream = random_noise(ctx);
      myAudio.srcObj = mystream;
      myAudio.oncanplay = ()=>myAudio.play();
      peer.addStream(mystream);
      if(channelInput.value){
            peer.joinChannel(channelInput.value);
        }
    }
    

    const toSignal = (json)=> signal.send(JSON.stringify(json));
   

    function showVolume(analyser){
      const arr1=new Uint8Array(10);
      const vol1 = document.getElementById("v1");
      function _v(){
        analyser.getByteTimeDomainData(arr1);
        var sum = arr1.reduce((sum,v)=>sum+=v, 0);
        vol1.innerHTML=sum+"";
        requestAnimationFrame(_v);

      }

      requestAnimationFrame(_v);
    }
  </script>

</body>

</html>
