<html>
	<head>
		<style>
	
			a {
				color: white;
			}

	
			.vscode {
  display: grid;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 9;
  grid-gap: 10px;
  color: white;
  background-color: #010101;
}
.leftNavBar {
  grid-row: 1;
  grid-column: 1/1;
}
.fileList {
  grid-row: 2/10;
  grid-column: 2/15;
  align-self:stretch;
}
.cmdPalletTabs {
  grid-row: 1;
  grid-column: 5/40;
}

main {
  grid-row: 2/6;
  grid-column: 16/40;
}

footer {
  grid-column: 15/40;
  grid-row: 7/10;
}
		</style>
		<style tag="style" src="/static/tty.css"></style>
		<script tag="script" src="/static/simple-console.js"></script>
	</head>

	<body class='vscode'>
		<header class='cmdPalletTabs'></header>
__MAIN__
		<footer id='console'></footer>
		<script type="module">
			var con = new SimpleConsole({
				placeholder: "Enter JavaScript",
				handleCommand: function (command) {
					try {
						con.log(eval(command));
					} catch (error) {
						con.error(error);
					}
				},
				autofocus: true, // if the console is to be the primary interface of the page
				storageID: "app-console", // or e.g. "simple-console-#1" or "workspace-1:javascript-console"
			});
			document.getElementById("console").appendChild(con.element);
			window.log = con.log;
			window.logError = con.error;
		</script>
	</body>
</html>
