body{
    width:100vw;
    height:100vh;
    overflow: hidden;
    background-color:black;
    color: white;
}
#container{
    display: grid;
    width: 100vw;
    height:100vh;
    grid-gap: 10px;
    color: white;
}


.header {
    grid-row: 1/2;
    grid-column: 2 / 5;
    background-color: #222222;
}
.sidenav {
    grid-column: 1;
    grid-row: 1 / 4;
    background-color: #333333;
    
}

.main{
    grid-column: 2 / 4;
    grid-row: 2 / 8;
    background-color:#555555;
}
.nowplaying{
    grid-column: 4 / 5;
    grid-row: 2 / 8;
    background-color:#555555;  
}
.localchannel{
    grid-column: 1;
    grid-row: 4; 
    background-color: #333333;
    
}
.band_freq_out{
    grid-column: 1;
    grid-row: 5/6;
    background-color: #333333;
}


.footer{
    padding:20px;
    grid-row: 8/10;
    grid-column: 1 / 5;
    background-color: #333333;
}

.song-controls button{
    cursor:pointer;
}